{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "transform-class-properties",
    "@loadable/babel-plugin",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ]
  ]
}
